@import 'tailwindcss';
@import 'flowbite/src/themes/default.css';

@plugin 'flowbite/plugin';

@source "../node_modules/flowbite-svelte/dist";
@source "../node_modules/flowbite-svelte-icons/dist";

.tiptap p {
  @apply text-[2rem];
}
